.header-style{
    font-size: 2em;
    color: #ff6422;
    margin:2%;
    font-family: Arial;
}
.main-container{
    display: flex;
    margin: 2%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: Arial;
}

a:link{
    color: rgb(255, 100, 34);
    text-decoration: none;
}

a:visited {
    color: #969290;
  }

a:hover{
    color: rgb(164, 62, 18);
}

.selection-container{
    background: #eeeeee;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 9px;
    justify-content: space-evenly;
}

input{
    font-family: Arial;
    padding: 1%;
    margin: 1%;
    color: #3da846;
    font-weight: 600;
    border: 0px solid white;
    width: 40%;
    font-size:20px;
    border-radius: 9px;
}

.search-button{
    background: #3da846;
    padding: 1%;
    margin: 1%;
    font-size:15px;
    color: white; 
    width: 7%;
    cursor: pointer;
    font-weight: 600;
    border-radius: 9px;
    border: none;
}
.search-button:hover{
    transition: 0.3s;
    background: #0f869d;
}

.select-style{
    width: 33%;
    background: #3da846;
    text-align: center;
    color: #fbfbfb;
    font-size:15px;
}

.select-style select{
    padding: 16px 20px;
    border: none;
    background-color: #fffefe;
    font-size: 1.25em;
    width: 100%;
    color: #3da846;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}

.search-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 1%;
    justify-content:center;
}

.search-result{
    background-color: #e29e30;
    color: white;
    font-size: 13px;
    padding: 1%;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.1s;
    font-weight: 600;
}

.search-result:hover{
    background-color: #ae3b0d;
}

.alert{
    background-color: #980202;
}


.loader {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: animation-style 1.25s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3da846;
    border-bottom: 16px solid  #3da846;
    margin: 5px;
  }
  
  @keyframes animation-style {
    0% { transform: rotate(0deg);background-color: rgb(255, 255, 255); }
    25%{      width: 60px; height: 60px;border-top: 16px solid #b23131;border-bottom: 16px solid #b23131}
    50%{      width: 50px; height: 50px;border-top: 16px solid #b23131;border-bottom: 16px solid #b23131}
    100% { transform: rotate(360deg);background-color: rgb(255, 255, 255); }
  }