
.main-container{
    display: flex;
    margin: 2%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: Arial;
}

a:link{
    color: #0087ca;
    text-decoration: none;
}

a:visited {
    color: #969290;
  }

a:hover{
    color: #016495;
}

.selection-container{
    background: #eeeeee;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 9px;
    justify-content: space-evenly;
}

input{
    font-family: Arial;
    padding: 1%;
    margin: 1%;
    color: #3da846;
    font-weight: 600;
    border: 0px solid white;
    width: 40%;
    font-size:20px;
    border-radius: 9px;
}

.search-button{
    background: #3da846;
    padding: 1%;
    margin: 1%;
    font-size:15px;
    color: white; 
    width: 7%;
    cursor: pointer;
    font-weight: 600;
    border-radius: 9px;
    border: none;
}
.search-button:hover{
    transition: 0.3s;
    background: #0f869d;
}

.select-style{
    width: 33%;
    background: #3da846;
    text-align: center;
    color: #fbfbfb;
    font-size:15px;
}

.select-style select{
    padding: 16px 20px;
    border: none;
    background-color: #fffefe;
    font-size: 1.25em;
    width: 100%;
    color: #3da846;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}

.search-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 1%;
    justify-content:center;
}

.search-result{
    background-color: #00caa8;
    color: white;
    font-size: 13px;
    padding: 1%;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.1s;
    font-weight: 600;
}

.search-result:hover{
    background-color:#0087ca ;
}

#searchid a:link{
    color: #ffffff;
    text-decoration: none;
}

.alert{
    background-color: #980202;
}


.loader {
    display: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: animation-style 1.25s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3da846;
    border-bottom: 16px solid  #3da846;
    margin: auto;
  }
  
@keyframes animation-style {
    0% { transform: rotate(0deg);background-color: rgb(255, 255, 255); }
    25%{ width: 60px; height: 60px;border-top: 16px solid #b23131;border-bottom: 16px solid #b23131}
    50%{ width: 50px; height: 50px;border-top: 16px solid #b23131;border-bottom: 16px solid #b23131}
    100% { transform: rotate(360deg);background-color: rgb(255, 255, 255); }
} 

.update-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    display: flex;
    margin: 15px;
    width: 20%;
    
}

.update-button{
    padding: 0.6%;
    background: #c30000;
}
.update-button:hover{
    background: #720000;
}

.header-container{
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.header-style{
    font-size: 2em;
    color: #ff6422;
    margin:2%;
    font-family: Arial;
    /* width: 80%; */
    width: 100%;
    justify-content: flex-end;
    /* margin-right: -20%; */
}

.content-block-style{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stock-style{
    margin: 0.25% 1%;
    font-size: 20px;
    color: #262e85;
}

.stock-change-up{
    color:#1bbe02;
    font-weight: 600;
}

.stock-change-down{
    color:#be0202;
    font-weight: 600;
}

.stock-change-zero{
    color:#353535;
    font-weight: 600;
}

.chart{
    text-align: center;
    height: 700px;
}
.modebar {
    display: none !important;
}

.company-details{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    
}
.company-details-left{
    width: 20%;
    margin: 0% 1% 1% 1%;
    font-size: 13px;
}
.company-details-right{
    width: 80%;
    margin: 0% 5% 1% 1%;
    text-align: left;
    font-size: 13px;
}

.section-header{
    margin: 2% 1%;
    color: #0087ca;
    font-size: 1.5em;
}

.indicators{
    flex-wrap:  wrap;
    justify-content: center;
    align-items: center;
}
.indicator-container{
    width:8%;
    background-color: #d4e2f7;
    margin: 0.25%;
    padding: 0.75% 1%;
}

.header-width{
    width: 100%;
    margin: 1%;
}

.order_book{
    min-width: 46%;
    margin: 2%;
}

.double-container{
    display: flex;
    flex-direction: row;
    margin-top: 1.5%;
}

.order-container{
    display: flex;
    flex-direction: row;
    margin: 3% 1%;
    padding: 2%;
    font-size: 14px;
}

.order-container:hover{
    background-color: #b6cdea;
    font-weight: 600;
    cursor: pointer;
}

.order-container-item{
    min-width: 20%;
    align-content: center;
}
.news-item{
    display: flex;
    flex-direction: row;
    margin: 1.5%;
    padding: 15px;
    background-color: #f3f6fa;
    justify-content: center;
}

.news-item-bold{
    font-weight: 600;
    color: #0087ca;
    cursor: pointer;
}

.order-book-color{
    background-color: #f3f6fa;
}


#news a:link{
    color: #000000;
}

#news .link-select{
    min-width: 70%;
    padding: 0px 10px;
}

#news a:hover{
    color: #0087ca;
}

#news [class*="news-select"]{
    min-width: 10%;
}

.finance-table{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 15px;
}

.year-font{
    font-weight: 600;

}

.finance-data{
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: #f3f6fa;
}

.finance-data:hover{
    background-color: #b6cdea;
    font-weight: 600;
    cursor: pointer;
}
.finance-item{
    min-width: 20%;
    font-size: 14px;
    margin: 1% 0%;
}

.finanace-item-info{
    font-size: 13px;
    color: #0087ca;
    font-weight: 600;
    margin: 1% 0% 1% 2%;
    align-items: center;
    text-align: left;
}

.shareholders-container{
    display: flex;
    flex-direction: row;
    padding: 0.5% 0.25%;
    align-items: center;
}


.shareholders-container:nth-child(even){
    background-color: #f3f6fa;
}

.shareholders-item{
    min-width: 10%;
}
.shareholders-item-samll{
    width: 2%;
}

.shareholders-container:hover{
    background-color: #e2e2e2;
    cursor: pointer;
}
