<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Stock analyzer</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div class="main-container">
        <div class="header-container">
            <div class="header-style">
                <a href="{{url_for('index')}}">Stock analyzer</a>
            </div>
            {% if update %}
            <form method="POST" action="{{url_for('update')}}"></form>
            <div class="update-div">
                {% if days_counter > 1 %}
                Last update : {{days_counter}} days ago
                {% else %}
                Last update : {{days_counter}} day ago
                {% endif %}
            </div>
            <div class="search-button update-button" type="submit" id="update-button">Update</div>
            {% endif %}

        </div>

        <form method="POST" action="{{url_for('index')}}">
            <div class="selection-container">
                <input placeholder="Search" id="search_input">
                <div class="select-style">
                    <select name="stock_list_form">
                        {% for stocks in stock_list %}
                        <option val={{stocks[1]}}>{{stocks[1]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="search-button" type="submit">Go</button>
            </div>
        </form>
        <div id="search-response" class="search-container">
        </div>
        <div class="loader" id="loader">
        </div>
        <div class="button-panel" id="content-block">
            <button type="submit" id="analyze-button" class="search-button analyze-button-color">Analyze</button>
            <button type="submit" id="news-button" class="search-button" >News</button>   
            <button type="submit" id="market-button" class="search-button" >Market</button>              
        </div>
    </div>

    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>