<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Stock analyzer</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div class="main-container">
        <div class="header-container">
            <div class="header-style">
                <a href="{{url_for('index')}}">Stock analyzer</a>
            </div>
        </div>

        <div class="loader" id="loader">
        </div>
        <div class="content-block-style" id="content-block">
            <div class="stock-style">
                {{stock}}
            </div>
            <div class="stock-style">
                {{close_price}} PLN
            </div>
            <div class="stock-style" id="stock-change">
                ({{daily_return}} %)
            </div>
        </div>
        <div id="chart" class="chart">
        </div>
        <div class="section-header">
            Opis firmy
        </div>
        <div class="company-details" id="description">
            <div class="company-details-left">
                {% for detail in company_details[:-1] %}
                <div>{{detail}}</div>
                {% endfor %}

            </div>
            <div class="company-details-right">
                {% for detail in company_details[-1:] %}
                <div>{{detail}}</div>
                {% endfor %}
            </div>

        </div>
        <div class="section-header">
            Wskaźniki
        </div>
        <div class="company-details indicators" id="indicators">
            {% for indicator in indicators %}
            <div class="indicator-container">
                <div>
                    {{indicator[0]}}
                </div>
                <div>
                    {{indicator[1]}}
                </div>
            </div>
            {% endfor%}
        </div>
        <div class="double-container">
            <div class="header-width">
                <div class="section-header">
                    Wiadomości
                </div>
                <div>
                    {% for item in news%}
                    <div class="news-item" id="news">
                        <div class="news-select">
                            {{item[0]}}
                        </div>
                        <div class="link-select">
                            <a href="{{item[2]}}">{{item[1]}} </a>
                        </div>
                        <div class="news-select">
                            {{item[3]}}
                        </div>
                        <div class="news-select">
                            {{item[4]}}
                        </div>
                    </div>
                    {% endfor%}
                </div>

            </div>
            <div class="header-width">
                <div class="section-header">
                    Finanse
                </div>
                <div class="finance-table">
                    {% for item in finance[0][0:5] %}
                    <div class="finance-item  year-font">
                        {{ item }}
                    </div>
                    {% endfor%}
                </div>
                {% for item in finance[1] %}
                {% for value in item %}


                <div class="finance-data">
                    <div class="finance-item finanace-item-info">
                        {{value[0]}}
                    </div>
                    {% for amount in value[1]%}
                    {% if amount %}
                    <div class="finance-item">
                        {{amount}}
                    </div>
                    {%endif%}
                    {%endfor%}
                </div>
                {%endfor%}
                {% endfor %}
                <div class="finance-table">
                        {% for item in finance[0][5:] %}
                        <div class="finance-item  year-font">
                            {{ item }}
                        </div>
                        {% endfor%}
                    </div>
            </div>

        </div>


    </div>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script type="text/javascript">

        var graphs = {{ graphJSON | safe}};

        Plotly.plot('chart', graphs, { displayModeBar: false });

    </script>
</body>


</html>