<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{stock}}</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div class="main-container">
        <div class="header-container">
            <div class="header-style">
                <a href="{{url_for('index')}}">Stock analyzer</a>
            </div>
        </div>
        <div>
            <a href="{{url_for('stock_details',stock = stock)}}">Details</a>
        </div>

        <div class="loader" id="loader">
        </div>
        <div class="content-block-style" id="content-block">
            <div class="stock-style">
                {{stock}}
            </div>
            <div class="stock-style">
                {{close_price}} PLN
            </div>
            <div class="stock-style" id="stock-change">
                ({{daily_return}} %)
            </div>
        </div>
        <div id="chart" class="chart">
        </div>
        <div class="section-header">
            Opis firmy
        </div>
        <div class="company-details" id="description">
            <div class="company-details-left">
                {% for detail in company_details[:-1] %}
                <div>{{detail}}</div>
                {% endfor %}

            </div>
            <div class="company-details-right">
                {% for detail in company_details[-1:] %}
                <div>{{detail}}</div>
                {% endfor %}
            </div>

        </div>
        <div class="section-header">
            Wskaźniki
        </div>
        <!-- Tabela ze wskaźnikami -->
        <div class="company-details indicators" id="indicators">
            {% for indicator in indicators %}
            <div class="indicator-container">
                <div>
                    {{indicator[0]}}
                </div>
                <div>
                    {{indicator[1]}}
                </div>
            </div>
            {% endfor%}
        </div>
        <div class="double-container">
            <div class="width">
                <!-- Tabela z wiadomościami  -->
                <div class="header-width">
                    <div class="section-header">
                        Wiadomości
                    </div>
                    <div>
                        {% for item in news%}
                        <div class="news-item" id="news">
                            <div class="news-select">
                                {{item[0]}}
                            </div>
                            <div class="link-select">
                                <a href="{{item[2]}}">{{item[1]}} </a>
                            </div>
                            <div class="news-select">
                                {{item[3]}}
                            </div>
                            <div class="news-select">
                                {{item[4]}}
                            </div>
                        </div>
                        {% endfor%}
                    </div>

                </div>

                <!-- Arkusz zleceń  -->
                <div class="header-width">
                    <div class="section-header">
                        Arkusz zleceń
                    </div>
                    <div class="double-container">
                        <div class="order_book order-book-color">
                            <div class="order-container">
                                <div class="order-container-item">Kurs</div>
                                <div class="order-container-item">Wolumen</div>
                                <div class="order-container-item">Wartość</div>
                                <div class="order-container-item">Ilość</div>
                                <div class="order-container-item">%</div>
                            </div>
                            {% for value in order_book[0] %}
                            <div class="order-container">
                                <div class="order-container-item news-item-bold">{{value[0]}}</div>
                                <div class="order-container-item">{{value[1]}}</div>
                                <div class="order-container-item">{{value[2]}}</div>
                                <div class="order-container-item">{{value[3]}}</div>
                                <div class="order-container-item">{{value[4]}}</div>
                            </div>
                            {% endfor %}

                        </div>
                        <div class="order_book order-book-color">
                            <div class="order-container">
                                <div class="order-container-item">Kurs</div>
                                <div class="order-container-item">Wolumen</div>
                                <div class="order-container-item">Wartość</div>
                                <div class="order-container-item">Ilość</div>
                                <div class="order-container-item">%</div>
                            </div>
                            {% for value in order_book[1] %}
                            <div class="order-container">
                                <div class="order-container-item news-item-bold">{{value[0]}}</div>
                                <div class="order-container-item">{{value[1]}}</div>
                                <div class="order-container-item">{{value[2]}}</div>
                                <div class="order-container-item">{{value[3]}}</div>
                                <div class="order-container-item">{{value[4]}}</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>


            <!-- Tabela z danymi finansowymi  -->
            <div class="width">
                <div class="header-width">
                    <div class="section-header">
                        Finanse
                    </div>
                    <div class="finance-table">
                        {% for item in finance[0][0:5] %}
                        <div class="finance-item  year-font">
                            {{ item }}
                        </div>
                        {% endfor%}
                    </div>
                    {% for item in finance[1] %}
                    {% for value in item %}


                    <div class="finance-data">
                        <div class="finance-item finanace-item-info">
                            {{value[0]}}
                        </div>
                        {% for amount in value[1]%}
                        {% if amount %}
                        <div class="finance-item">
                            {{amount}}
                        </div>
                        {%endif%}
                        {%endfor%}
                    </div>
                    {%endfor%}
                    {% endfor %}
                    <div class="finance-table">
                        {% for item in finance[0][5:] %}
                        <div class="finance-item  year-font">
                            {{ item }}
                        </div>
                        {% endfor%}
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block-style">
            <div class="stock-diagrams">
                <div class="section-header">
                    Dzienne stopy zwrotu 90 dni
                </div>
                <!-- Wykres dzinennych zwrotów  -->
                <div id="daily_return_chart">
                </div>

            </div>
            <div class="stock-diagrams">
                <div class="section-header">
                    Histogram dziennych stóp zwrotu 90 dni
                </div>
                <!-- Histogram zwrotów -->
                <div id="daily_return_histogram">
                </div>

            </div>
            <div class="stock-diagrams">
                <div class="section-header">
                    Rozkład akcjonariatu
                </div>
                <img src="https://stooq.pl/q/h/c/?s={{ticker}}">
            </div>
        </div>
        <div class="content-block-style">
                <div class="stock-diagrams">
                        <div class="section-header">
                                Średnia wolumenu
                        </div>
                        <div id="daily_volume">
                        </div>
                </div>
        </div>



        <!-- Akcjonariat -->
        <div class="section-header">
            Akcjonariat
        </div>
        <div class="shareholders-container">
            <div class="shareholders-item">
                Lp
            </div>
            <div class="shareholders-item">
                Akcjonariusz
            </div>
            <div class="shareholders-item">
                Udział w kapitale
            </div>
            <div class="shareholders-item">
                Liczba akcji
            </div>
            <div class="shareholders-item">
                Ostatnia zmiana
            </div>
            <div class="shareholders-item">
                Wartość rynkowa (PLN)
            </div>
            <div class="shareholders-item">
                Udział na WZA
            </div>
            <div class="shareholders-item">
                Liczba głosów
            </div>
            <div class="shareholders-item">
                Ostatnia zmiana
            </div>
            <div class="shareholders-item">
                Data aktualizacji
            </div>
        </div>
        {% for shareholder in shareholders %}
        <div class="shareholders-container">
            <div class="shareholders-item shareholders-item-samll">
                {{shareholder[0]}}
            </div>
            <div class="shareholders-item">
                {{shareholder[1]}}
            </div>
            <div class="shareholders-item">
                {{shareholder[2]}}
            </div>
            <div class="shareholders-item">
                {{shareholder[3]}}
            </div>
            <div class="shareholders-item">
                {{shareholder[4]}}
            </div>
            <div class="shareholders-item">
                {{shareholder[5]}}
            </div>
            <div class="shareholders-item">
                {{shareholder[6]}}
            </div>
            <div class="shareholders-item">
                {{shareholder[7]}}
            </div>
            <div class="shareholders-item">
                {{shareholder[8]}}
            </div>
            <div class="shareholders-item">
                {{shareholder[9]}}
            </div>
        </div>
        {% endfor %}

    </div>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script type="text/javascript">

        var graphs = {{ graphJSON | safe}};
        var daily_return_chart_data = {{ daily | safe}};
        var daily_return_histogram = {{ histogram | safe}};
        var mean_volume = {{ mean_volume|safe}};

        Plotly.plot('chart', graphs, { displayModeBar: false });
        Plotly.plot('daily_return_chart', daily_return_chart_data);
        Plotly.plot('daily_return_histogram', daily_return_histogram);
        Plotly.plot('daily_volume', mean_volume);
    </script>

</body>


</html>